.menuHeading{
  font-size: 0.8rem;
  color: #979797;
  margin-bottom: 1rem;
}

.menuContent{
  color: #797676;
  font-size: 0.8rem;
  font-weight: 500;
}

.logoImage{
  display: flex;
  justify-content: center;
}

.profileImage{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: blue;
}

.cardWidget{
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
  /* background-color: rgb(192, 164, 233); */
}

.iconDiv{
  display: flex;
  gap: 15px;
  align-items: center;
}

.userWelcom{
  font-size: 0.5rem;
  color: #979797;
}
.cardTitle{
  font-size: 0.6rem;
  /* color: #797676; */
}
.cardNumber{
  font-size: 1.5rem;
  font-weight: 600;
}
.userName{
  font-size: 0.8rem;
  color: #797676;
}
.reactIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.custom-card {
  flex: 1; /* Each card takes up an equal amount of space */
  margin: 8px; /* Add some margin between cards for spacing */
}